{% extends "base.html" %}

{% block title %}Request Info{% endblock %}

{% block content %}
<h3>Requests:</h3>
<br />
<table border="1" cellspacing="0">
<tr>
<th>Date and time</th>
<th>IP</th>
<th>Protocol</th>
<th>Method</th>
<th>Path</th>
<th>Referrer</th>
<th>User agent</th>
<th>Status</th>
<th>Response</th>
</tr>
{% for request in requests %}
<tr>
<td>{{ request.datetime|date:"d.m.Y H:i:s" }}</td>
<td>{{ request.ip }}</td>
<td>{{ request.protocol }}</td>
<td>{{ request.method }}</td>
<td>{{ request.path }}</td>
<td>{{ request.referer }}</td>
<td>{{ request.user_agent }}</td>
<td>{{ request.response_status }}</td>
<td>{{ request.response_tell }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
